* {
    margin: 0 auto;
}

#header{
    text-align: center;
    font-size: 70px;
    color: white;
    background-color: #000080;
}

#search {
    color: #000080;
}

.panel-default > .panel-heading {
  background-color: navy;
}